/*
    12px -> 0.75rem
    14px -> 0.875rem
    16px -> 1rem
    18px -> 1.125rem
    24px -> 1.5rem
    30px -> 1.875rem
    32px -> 2rem
    48px -> 3rem


Fonts:
body, p -> 16px
H2 -> 38px
*/

/******* navbar ******/

.fl-primary-nav {
    font-family: $font-family-headings;
    font-weight: $font-weight-normal;
    .nav-item {
        position: relative;
        z-index: 1;
        &.active:before,
        &:hover:before {
            position: absolute;
            top: -10px;
            right: 0;
            bottom: 0;
            left: 6px;
            content: "";
            background: url(../img/svg/icon/tail/red.svg) no-repeat;
            z-index: 0;

        }
        &:hover:before {
            opacity: .3;
        }
        &.active:hover:before {
            opacity: 1;
        }
        &.active .nav-link,
        &.active .nav-link:hover {
            font-weight: $font-weight-bold;
        }
        .nav-link,
        .nav-link:hover {
            position: relative;
            color: $white;
            font-weight: $font-weight-light;
        }
    }
    .btn.dropdown-toggle:hover {
        color: theme-color('main');
    }
}

/******* section-panel *******/

.fl-primary-nav + .fl-panel {
    margin-top: 100px;
}

.fl-panel {
    margin: 3rem auto;

    .container {
        background-color: $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding-top: 2.5rem;
        padding-bottom: 2rem;

        .fl-panel-title {
            margin-bottom: 2rem;
            position: relative;
            &:before {
                position: absolute;
                right: 0;
                bottom: -13px;
                left: 0;
                background: theme-color('primary');
                content: "";
                height: 2px;
                width: 125px;
            }
        }
        .row {}
        .card {

            /*min-width: 250px;
            max-width: 250px;
            margin: 0 1rem 1rem 0;
            height: 200px;
            max-height: 200px;*/
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 1px solid theme-color('borders');
            border-radius: 3px;
            transition: all .5s ease;
            .card-title {
                position: relative;
                margin-top: .625rem;
                margin-bottom: 1.25rem;
                &:before {
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    left: 0;
                    background: theme-color('secondary');
                    content: "";
                    height: 2px;
                    width: 80px;
                }
                small {
                    text-transform: lowercase;
                    font-size: $font-size-sm;
                }
                .icon-view {
                    position: absolute;
                    top: -20px;
                    right: -10px;
                }
            }
            .card-body {
                font-size: $font-size-xs;

                .fl-icon-circle {
                    margin-bottom: 1rem;
                    max-width: 4rem;
                }
                label {
                    margin-bottom: 0;
                    font-weight: $font-weight-bold;
                }
                .fl-card-price {
                    font-family: $font-family-headings;
                    font-weight: bold;
                    color: theme-color('primary');
                    font-size: 4rem;
                    line-height: 1;
                    margin-right: -15px;
                    small {
                        font-size: 1.75rem;
                        font-weight: $font-weight-bold;
                    }
                }
            }
            &.expanded {
                display: flex;
                width: 100%;
                flex: none;
                min-width: inherit;
                max-width: inherit;
                flex-direction: row;
                .card-body {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
                .card-expanded {
                    display: block;
                    flex: 0 0 75%;
                    max-width: 75%;
                    padding: 1.25rem;
                    background-color: rgba(theme-color('main'), .08);
                    color: rgba(theme-color('main'), .5);
                    p {
                        font-size: $font-size-xs;
                        margin-top: 1rem;
                        color: rgba(theme-color('main'), .5);
                    }

                    .fl-icon-status {
                        margin-top: 1rem;
                        * {
                            fill: rgba(theme-color('main'), .3);
                        }
                    }
                    .fl-status-title {
                        font-size: $font-size-base;
                        font-weight: $font-weight-bold;
                        margin-top: .25rem;
                        color: rgba(theme-color('main'), .3);
                    }
                    .fl-status-done {
                        p {
                            color: theme-color('main');
                        }
                        .fl-status-title {
                            font-size: $font-size-base;
                            color: theme-color('secondary');
                        }
                        .fl-icon-status {
                            * {
                                fill: theme-color('secondary');
                            }
                        }
                    }
                }
            }
            .card-expanded {
                display: none;
            }
        }

    }
}

.icon-view {
    background: url(../img/svg/icon/eye.svg) no-repeat right top;
    width: 20px;
    height: 14px;
    display: inline-block;
    float: right;
    margin-top: .3rem;
    cursor: pointer;
}

.icon-view.hide {
    background-position: left top;
}

.icon-view:hover {
    background-position: right bottom;
}

.icon-view.hide:hover {
    background-position: left bottom;
}



/******* notifications section *******/

.fl-section-notifications {
    .container {
        .fl-panel-title {
            &:before {}
        }
        .card {
            height: 200px;
            max-height: 200px;
        }
    }
}



/******* processes section *******/

.fl-section-processes {
    .container {
        .fl-panel-title {
            &:before {}
        }
        .card {
            height: 270px;
        }
    }
}

/******* table *******/

.table-bordered {
    border: 1px solid rgba(theme-color('main'), 1);
    font-size: $font-size-sm;
    td,
    th {
        vertical-align: middle;
        text-align: center;
    }
}

.fl-table-action {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: no-repeat url(../img/svg/icon/action/action_sprite_24.svg) left top;
    margin-right: .35rem;
}

.fl-action-details {
    background-position: left top;
}

.fl-action-edit {
    background-position: center top;
}

.fl-action-remove {
    background-position: right top;
}

.fl-table-action:hover {
    background-position-y: bottom;
}

/******* BOTTOM FIXED BAR *******/

.fl-quick-access-nav {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    .fl-nav-title {
        color: theme-color('main');
        text-transform: uppercase;
        font-size: $font-size-lg;
        font-weight: bold;
        font-family: $font-family-headings;
        white-space: nowrap;
    }
    .nav-item {
        .nav-link {
            padding-left: 40px;
            position: relative;
            background-image: linear-gradient(-153deg, rgba(126, 214, 214, 0.80) 5%, #7ED6D6 100%);
            border-radius: 4px;
            border: none;
            color: $white;
            margin: 0 0 0 1rem;
            cursor: pointer;
            &:hover {
                color: $white;
                background-image: linear-gradient(153deg, rgba(0, 194, 194, 0.80) 5%, #00C2C2 100%);
            }
            &:before {
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background-position: 4px 4px;
                background-repeat: no-repeat;
            }
            &.fl-btn-qa-drycleaning:before {
                background-image: url(../img/svg/icon/dry_cleaning.svg);
            }
            &.fl-btn-qa-ironing:before {
                background-image: url(../img/svg/icon/ironing.svg);
            }
            &.fl-btn-qa-itrepair:before {
                background-image: url(../img/svg/icon/it_repair.svg);
            }
            &.fl-btn-qa-sewing:before {
                background-image: url(../img/svg/icon/sewing.svg);
            }
            &.fl-btn-qa-shoerepair:before {
                background-image: url(../img/svg/icon/shoe_repair.svg);
            }
        }
    }
}

/******* SVG *******/

.fl-icon-status {

    .fl-svg-check {
        animation-name: myAnimation;
        animation-duration: .4s;
        animation-timing-function: cubic-bezier(0.28, 0.92, 0.86, 1.23);
        transform-origin: center center;
        transform: scale(0);
    }
}

.fl-status-done {

    .fl-icon-status {

        .fl-svg-check {

            transform: scale(1);
        }
    }
}

@keyframes myAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}



/******* media queries fixtures *******/

@include media-breakpoint-up(md) {
    .fl-panel .container .card .card-body .fl-card-price {
        font-size: 3rem;
    }
}

@include media-breakpoint-down(md) {
    .fl-panel {
        .container {
            .card {
                .fl-card-price {
                    font-size: 3rem;
                }
                &.expanded {
                    flex-direction: column;
                    height: auto;
                    .card-body {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .card-expanded {

                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
