/*
    12px -> 0.75rem
    14px -> 0.875rem
    16px -> 1rem
    18px -> 1.125rem
    24px -> 1.5rem
    30px -> 1.875rem
    32px -> 2rem
    48px -> 3rem


Fonts:
body, p -> 16px
H2 -> 38px
*/

/******* navbar ******/

.navbar {
    font-family: $font-family-headings;
    font-weight: $font-weight-normal;
    .nav-item {
        position: relative;
        z-index: 1;
        &.active:before,
        &:hover:before {
            position: absolute;
            top: -10px;
            right: 0;
            bottom: 0;
            left: 6px;
            content: "";
            background: url(../img/svg/icon/tail/red.svg) no-repeat;
            z-index: 0;

        }
        &:hover:before {
            opacity: .3;
        }
        &.active:hover:before {
            opacity: 1;
        }
        &.active .nav-link,
        &.active .nav-link:hover {
            font-weight: $font-weight-bold;
        }
        .nav-link,
        .nav-link:hover {
            position: relative;
            color: $white;
            font-weight: $font-weight-light;
        }
    }
}

/******* section-panel *******/

.fl-panel {
    margin: 3rem auto;
    .container {
        background-color: $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        .fl-panel-title {
            //            margin-top: 2.5rem;
            position: relative;
            &:before {
                position: absolute;
                right: 0;
                bottom: -5px;
                left: 0;
                background: theme-color('primary');
                content: "";
                height: 2px;
                width: 125px;
            }
        }
        .card {
            width: 255px;
            overflow: hiiden;
            border: 1px solid theme-color('borders');
            border-radius: 3px;
            .card-title {
                position: relative;
                margin-top: .625rem;
                &:before {
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    left: 0;
                    background: theme-color('secondary');
                    content: "";
                    height: 2px;
                    width: 80px;
                }
            }
            .card-body {
                font-size: $font-size-xs;
            }
        }

    }
}
