/*
    12px -> 0.75rem
    14px -> 0.875rem
    16px -> 1rem
    18px -> 1.125rem
    24px -> 1.5rem
    30px -> 1.875rem
    32px -> 2rem
    48px -> 3rem


Fonts:
body, p -> 16px
H2 -> 38px
*/

//Custom buttons
.btn-main,
.btn-primary,
.btn-secondary,
.btn-secondaryLight,
.btn-secondaryOfficial,
.btn-main:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-secondaryLight:hover,
.btn-secondaryOfficial:hover {
    color: white;
}

.btn-light {
    color: lighten(theme-color('main'), 5%);
    &:hover {
        color: theme-color('main');
    }
}

.btn {
    cursor: pointer;
}

.fl-link {
    text-decoration: underline;
}

.fl-btn-add {
    color: $gray-500 !important;
    background-color: $white;
}

.fl-btn-add:hover {
    color: $white !important;

}

/******* navbar ******/

.fl-primary-nav {
    font-family: $font-family-headings;
    font-weight: $font-weight-normal;
    @include media-breakpoint-down(xs) {
        .navbar-brand {
            width: 50px;
        }
        .fl-brand-logo {
            width: 75%;
            .text {
                display: none;
            }
        }
    }
    .navbar-nav {
        padding-right: 3rem;
        margin-left: auto;
        .nav-item {
            position: relative;
            z-index: 1;
            &.active:before,
            &:hover:before {
                position: absolute;
                top: -10px;
                right: 0;
                bottom: 0;
                left: 6px;
                content: "";
                background: url(../img/svg/icon/tail/red.svg) no-repeat;
                z-index: 0;

            }
            &:hover:before {
                opacity: .3;
            }
            &.active:hover:before {
                opacity: 1;
            }
            &.active .nav-link,
            &.active .nav-link:hover {
                font-weight: $font-weight-bold;
            }
            .nav-link,
            .nav-link:hover {
                position: relative;
                color: $white;
                font-weight: $font-weight-light;
            }
        }
    }
    .btn.dropdown-toggle:hover,
    .btn-outline-light:active,
    .btn-outline-light.active,
    .show > .btn-outline-light.dropdown-toggle {
        color: theme-color('main');
    }
    .dropdown-menu {
        right: 0;
        left: inherit;
    }

}


.navbar-collapse.show {
    .dropdown-menu {
        right: inherit;
        left: 0;
    }
}

/******* section-panel *******/

.fl-primary-nav + .fl-section {
    margin-top: 100px;
}

.fl-panel {
    .container {
        background-color: $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }
}

.fl-section {
    margin: 3rem auto;
    .container {


        .fl-panel-title {
            margin-bottom: 2rem;
            position: relative;
            &:before {
                position: absolute;
                right: 0;
                bottom: -13px;
                left: 0;
                background: theme-color('primary');
                content: "";
                height: 2px;
                width: 125px;
            }
        }
        .row {}
        .card {

            /*min-width: 250px;
            max-width: 250px;
            margin: 0 1rem 1rem 0;
            height: 200px;
            max-height: 200px;*/
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 1px solid theme-color('borders');
            border-radius: 3px;
            transition: all .5s ease;
            .card-title {
                position: relative;
                margin-top: .625rem;
                margin-bottom: 1.25rem;
                &:before {
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    left: 0;
                    background: theme-color('secondary');
                    content: "";
                    height: 2px;
                    width: 80px;
                }
                small {
                    text-transform: lowercase;
                    font-size: $font-size-sm;
                }
                .icon-view {
                    position: absolute;
                    top: -20px;
                    right: -10px;
                }
            }
            .card-body {
                font-size: $font-size-xs;

                .fl-icon-circle {
                    margin-bottom: 1rem;
                    max-width: 4rem;
                }
                label {
                    margin-bottom: 0;
                    font-weight: $font-weight-bold;
                }
                .fl-card-price {
                    font-family: $font-family-headings;
                    font-weight: bold;
                    color: theme-color('primary');
                    font-size: 4rem;
                    line-height: 1;
                    margin-right: -15px;
                    small {
                        font-size: 1.75rem;
                        font-weight: $font-weight-bold;
                    }
                }
            }
            &.fl-card-priority {
                background: theme-color('secondary');
                color: $white;
                border-color: darken(theme-color('secondary'), 5%);
                .card-title {
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                .btn {
                    border: $white;
                    color: theme-color('secondary');
                    background-color: $white;
                    cursor: pointer;
                    &:hover {
                        color: darken(theme-color('secondary'), 15%);
                    }
                }
                .fl-link {
                    color: $white;
                }
                .icon-view {
                    background-image: url(../img/svg/icon/eye_white.svg);
                }

                &.expanded {
                    .card-expanded {
                        > div > div {
                            text-align: center;
                            opacity: .5;
                        }
                        p {
                            color: $white !important;
                        }
                        .fl-icon-status * {
                            fill: $white;
                        }
                        .fl-status-done {
                            opacity: 1;
                            color: $white;
                            .fl-status-title {
                                color: $white;
                            }
                            .fl-icon-status * {
                                fill: $white;
                            }
                        }
                    }
                }
            }
            &.expanded {
                display: flex;
                width: 100%;
                flex: none;
                min-width: inherit;
                max-width: inherit;
                flex-direction: row;
                .card-body {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
                .card-expanded {
                    display: block;
                    flex: 0 0 75%;
                    max-width: 75%;
                    padding: 1.25rem;
                    background-color: rgba(theme-color('main'), .08);
                    color: rgba(theme-color('main'), .5);
                    p {
                        font-size: $font-size-xs;
                        margin-top: 1rem;
                        color: rgba(theme-color('main'), .5);
                    }

                    .fl-icon-status {
                        margin-top: 1rem;
                        * {
                            fill: rgba(theme-color('main'), .3);
                        }
                    }
                    .fl-status-title {
                        font-size: $font-size-base;
                        font-weight: $font-weight-bold;
                        margin-top: .25rem;
                        color: rgba(theme-color('main'), .3);
                    }
                    .fl-status-done {
                        p {
                            color: theme-color('main');
                        }
                        .fl-status-title {
                            font-size: $font-size-base;
                            color: theme-color('secondary');
                        }
                        .fl-icon-status {
                            * {
                                fill: theme-color('secondary');
                            }
                        }
                    }
                }
            }
            .card-expanded {
                display: none;
            }
        }

    }

}

.icon-view {
    background: url(../img/svg/icon/eye.svg) no-repeat right top;
    width: 20px;
    height: 14px;
    display: inline-block;
    float: right;
    margin-top: .3rem;
    cursor: pointer;
}

.icon-view.hide {
    background-position: left top;
}

.icon-view:hover {
    background-position: right bottom;
}

.icon-view.hide:hover {
    background-position: left bottom;
}



/******* notifications section *******/

.fl-section-notifications {
    .container {
        .fl-panel-title {
            &:before {}
        }
        .card {
            height: 200px;
            max-height: 200px;
        }
    }
}



/******* processes section *******/

.fl-section-processes {
    .container {
        .fl-panel-title {
            &:before {}
        }
        .card {
            height: 270px;
        }
    }
}

/******* table *******/

.table-bordered {
    border: 1px solid rgba(theme-color('main'), 1);
    font-size: $font-size-sm;
    td,
    th {
        vertical-align: middle;
        text-align: center;
    }
}

.fl-table-action {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: no-repeat url(../img/svg/icon/action/action_sprite_24.svg) left top;
    margin-right: .35rem;
}

.fl-action-details {
    background-position: left top;
}

.fl-action-edit {
    background-position: center top;
}

.fl-action-remove {
    background-position: right top;
}

.fl-table-action:hover {
    background-position-y: bottom;
}

/******* BOTTOM FIXED BAR *******/

.fl-quick-access-nav {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    .fl-nav-title {
        color: theme-color('main');
        text-transform: uppercase;
        font-size: $font-size-lg;
        font-weight: bold;
        font-family: $font-family-headings;
        white-space: nowrap;
    }
    .nav-item {
        text-align: center;
        .nav-link {
            padding-left: 40px;
            position: relative;
            border-radius: 4px;
            border: none;
            color: $white;
            margin: 0 0 0 1rem;
            cursor: pointer;
            &:hover {
                color: $white;
                background-image: linear-gradient(-153deg, rgba(126, 214, 214, 0.80) 5%, #7ED6D6 100%) !important;
            }
            &:before {
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background-position: 4px 4px;
                background-repeat: no-repeat;
            }
            &.fl-btn-qa-drycleaning:before {
                background-image: url(../img/svg/icon/dry_cleaning.svg);
            }
            &.fl-btn-qa-ironing:before {
                background-image: url(../img/svg/icon/ironing.svg);
            }
            &.fl-btn-qa-itrepair:before {
                background-image: url(../img/svg/icon/it_repair.svg);
            }
            &.fl-btn-qa-sewing:before {
                background-image: url(../img/svg/icon/sewing.svg);
            }
            &.fl-btn-qa-shoerepair:before {
                background-image: url(../img/svg/icon/shoe_repair.svg);
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .fl-quick-access-nav {
        .fl-nav-title {
            display: flex;
            flex: 0 0 25%;
            max-width: 25%;
            font-size: 1rem;
        }
        .navbar-toggler {
            display: none;
        }
        .navbar-collapse {
            display: flex;
            flex: 0 0 75%;
            max-width: 75%;
        }
        .navbar-nav {
            flex-direction: row;
            .nav-item {
                margin: 0;
                .nav-link {
                    margin: 0;
                    text-indent: -9999px;
                    width: 40px;
                    background: none transparent;

                    &.fl-btn-qa-drycleaning:before {
                        background-image: url(../img/svg/icon/dry_cleaning_invert.svg);
                    }
                    &.fl-btn-qa-ironing:before {
                        background-image: url(../img/svg/icon/ironing_invert.svg);
                    }
                    &.fl-btn-qa-itrepair:before {
                        background-image: url(../img/svg/icon/it_repair_invert.svg);
                    }
                    &.fl-btn-qa-sewing:before {
                        background-image: url(../img/svg/icon/sewing_invert.svg);
                    }
                    &.fl-btn-qa-shoerepair:before {
                        background-image: url(../img/svg/icon/shoe_repair_invert.svg);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .fl-quick-access-nav {
        .fl-nav-title {
            display: none;
        }
        .navbar-collapse {
            flex: 0 0 100%;
            max-width: 100%;
            .navbar-nav {
                margin: 0 auto !important;
                width: 100%;
                .nav-item {
                    width: 100%;
                    .nav-link {
                        padding-left: 0;
                        width: inherit;
                        &:before {
                            background-position: center center;
                        }
                    }
                }
            }
        }
    }
}


/******* SERVICES ****/

/* Main section */

.fl-card-img-wrapper,
.fl-modal-img-wrapper {
    text-align: center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: auto;
        left: 0;
        border: 3px solid $white;
        margin: 0 auto;
    }
    .fl-card-img,
    .fl-modal-img {
        position: relative;

    }
    .fl-card-title,
    .fl-modal-title {
        color: $white;
        text-align: center;
        font-weight: $font-weight-normal;
        text-transform: lowercase;
    }
}

.modal-footer {
    border: 0 none;
}

.fl-section-services {
    .fl-slogan {
        font-size: 3rem;
        color: theme-color('main');
        font-weight: $font-weight-normal;
        text-transform: inherit;
        em {
            font-weight: $font-weight-bold;
            font-style: normal;
            color: theme-color('primary');
        }
    }
    @include media-breakpoint-down(sm) {
        .fl-slogan {
            font-size: 2rem;
        }
    }
    .container {
        .card {
            border: none 0;
            text-align: center;
            .fl-card-img-wrapper {
                min-height: (220/16)+rem;
                padding-top: 4.5rem;
                &:before {
                    top: ((60/16)-.3)+rem; // (220/2-10/2)/16
                    width: (100/16) + rem;
                    height: (100/16) + rem;
                    border-radius: (50/16) + rem;
                }
                .fl-card-img {
                    width: 4rem;
                    height: 4rem;
                    margin-bottom: 2rem;

                }
                .fl-card-title {}
            }

            @include media-breakpoint-up(md) {
                &:nth-child(even) {
                    flex-direction: column-reverse;
                }

            }
            .card-body {

                min-height: (220/16)+rem;
                .card-text {
                    font-size: 1.125rem; //18px
                    margin-top: 1rem;
                }
            }
        }
    }
}

.fl-modal-img-wrapper {
    padding-top: 1.5rem;
    margin: 0 auto;
    &:before {
        top: .55rem;
        width: (100/16) + rem;
        height: (100/16) + rem;
        border-radius: (50/16) + rem;
    }
    .fl-modal-img {
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
    }
    .fl-modal-title {}
}

@include media-breakpoint-down(md) {
    .fl-section-services {
        .card-group {
            //give .row properties
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .card {
                //give .col-6 properties
                flex: 0 0 50%;
                max-width: 50%;
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .fl-section-services {
        .card-group {
            .card {
                .card-body {
                    display: none;
                }
            }
        }
    }
}

/******* section how *******/

.fl-section-how {
    text-align: center;
    background: $white;
    padding: 3rem 0;
    .fl-section-heading {
        text-transform: inherit;
    }
}

.fl-how-diagram {

    .fl-buttons {
        position: relative;
        top: 18px;
        z-index: 1;
        cursor: pointer;
    }
    .fl-parcel-delivery,
    .fl-use-service {
        border: 1px solid theme-color('main');
        border-radius: 5px;
        padding-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        display: none;
        text-align: center;

        .fl-step {}
        .fl-step-number {
            background-color: theme-color("primary");
            color: $white; //font-family: Raleway, sans-serif;
            font-weight: 500;
            font-size: 1.875rem;
            border-radius: 20px;
            width: 40px;
            height: 40px;
            display: block;
            margin: 1rem auto 2rem;
            line-height: 40px;
        }
        .fl-description {
            font-size: 1rem;
            font-weight: $font-weight-bold;
        }
        &.active {
            display: flex;
        }
    }
    .fl-use-service {
        display: none;
    }

    .fl-toggle-btn {
        background-color: $white;
        border-color: theme-color('main');
        color: theme-color('main');
        font-weight: 700;
        padding-right: 30px;
        padding-left: 30px;

        & + .fl-toggle-btn {
            margin-left: 10px;
        }
        &.active {
            background-color: theme-color('main');
            color: $white;
            border-color: theme-color('main');
            &:hover {
                background-color: darken(theme-color('main'), 5%);
                border-color: theme-color('main');
            }
        }
        &:hover {
            background-color: theme-color('main');
            color: $white;
        }
    }
}


/******* Service Flow *******/

.fl-section-flow {
    .container {
        padding: 0;
        background-color: $gray-100;
    }
}

.fl-status-sidebar {
    //background-color: $gray-100;
    .fl-status-vendor {
        height: 12.5rem;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        .fl-status-icon {
            position: relative;
            margin-top: 3.75rem;
            &:before {
                content: "";
                width: 6.25rem;
                height: 6.25rem;
                top: -1rem;
                right: 0;
                bottom: 0;
                left: -1rem;
                position: absolute;
                border: 3px solid $white;
                border-radius: 3.125rem;
            }
            .fl-img {
                width: 4.375rem;
                height: 4.375rem;
            }
        }
        .fl-status-vendor-title {
            text-transform: lowercase;
            color: $white;
            font-size: $font-size-lg;
            font-weight: $font-weight-normal;
            margin-top: 1.75rem;
        }
    }
    .fl-status {
        color: $gray-500;
        padding: .875rem;
        display: flex;
        align-items: center;
        background: theme-color('grayLight');
        border-top: 1px solid $gray-400;
        .fl-status-icon {
            float: left;
            margin-right: 1.25rem;
            svg * {
                fill: $gray-500;
            }
            svg .circle {
                fill: none;
            }

            @include media-breakpoint-down(xs) {
                margin-left: -15px;

            }
        }
        .fl-status-state {
            .fl-status-title {
                color: $gray-500;
                font-size: $font-size-sm;
                font-weight: $font-weight-normal;
            }
            .fl-status-info {
                font-size: $font-size-xs;
                margin-bottom: 0;
            }
        }
        .fl-status-icon svg + svg {
            display: none;
        }
        &.fl-done {
            background: theme-color('secondaryLight');
            .fl-status-icon svg {
                display: none;
            }
            .fl-status-icon svg + svg {
                display: block;
            }
        }
        &.fl-active {
            background: theme-color('secondary');
        }

        &.fl-done,
        &.fl-active {
            color: $white;
            border-top-color: $white;
            .fl-status-icon svg * {
                fill: $white;
            }
            .fl-status-state {
                .fl-status-title {
                    color: $white;
                }
            }
        }
        &.fl-done {
            .fl-status-icon svg .circle {
                fill: none;
            }
        }
    }
}

.fl-flow-content {
    margin-left: -30px;
    background-color: $gray-100;
    border-left: 1px solid $gray-400;
    .fl-flow-header {
        height: 12.5rem;
        display: flex;
        background: $white;
        border-bottom: 1px solid $gray-400;
        padding-left: 15px;

        .fl-flow-header-title {
            align-self: flex-end;
            text-transform: uppercase;
            color: theme-color('main');
            font-size: 1.25rem;
            font-weight: normal;
            margin-bottom: 1.25rem;
            font-family: $font-family-base;

        }
    }
    form {
        margin-top: 1rem;
        padding-left: 15px;
    }
}

.fl-flow-buttons {
    margin: 1rem auto 2rem;
}

@include media-breakpoint-down(lg) {

    .fl-status-sidebar {
        background-color: $white;
        .fl-status-icon {
            margin: 0 auto;
        }
        .fl-status-state {
            display: none;
        }

        .fl-status {
            background-color: $white;
            border-top: 0 none;
            .fl-status-icon {
                margin-top: .5rem;
                svg {
                    .check {
                        fill: theme-color('secondary');
                    }
                    .circle {
                        fill: none;
                    }
                    .main {
                        fill: $gray-400;
                    }
                }
            }
            &.fl-done {
                background-color: transparent;
                .fl-status-icon svg {
                    .check,
                    .main {
                        fill: theme-color('secondary');
                    }
                }
            }
            &.fl-active {
                background-color: transparent;
                .fl-status-icon svg {
                    .check,
                    .circle,
                    .main {
                        fill: theme-color('secondary');
                    }
                }
            }
            &.fl-active:before,
            &.fl-done:before {
                content: "";
                position: absolute;
                top: 49%;
                height: 1px;
                background-color: theme-color('secondary');
                left: -25%;
                width: 50%;
                @include media-breakpoint-down(xs) {
                    top: 51%;
                    left: -25%;
                    width: 40%;
                }
            }

        }
    }
    .fl-flow-content {
        margin-left: 0;
        border-left: 0 none;
        .fl-flow-header {
            height: auto;
            .fl-flow-header-title {
                margin: .5rem auto 1rem;
            }
        }
        form {
            padding-right: 15px;
            .md-form {
                margin-bottom: .5rem;
            }

        }
    }
}

@include media-breakpoint-down(xs) {

    .fl-primary-nav + .fl-panel {
        margin: 71px auto 0;
        .container {

            box-shadow: none;
        }
    }
    .fl-status-sidebar {
        .fl-status-vendor {
            display: none;
        }
    }
    form .md-form {
        margin-bottom: .5rem;
    }
}

/******* SVG *******/

.fl-icon-status {

    .fl-svg-check {
        animation-name: myAnimation;
        animation-duration: .4s;
        animation-timing-function: cubic-bezier(0.28, 0.92, 0.86, 1.23);
        transform-origin: center center;
        transform: scale(0);
    }
}

.fl-status-done {

    .fl-icon-status {

        .fl-svg-check {

            transform: scale(1);
        }
    }
}

@keyframes myAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/******* background colors *******/

.fl-bg-main {
    background-image: $grad-main !important;
}

.fl-bg-primary {
    background-image: $grad-primary !important;
}

.fl-bg-secondary {
    background-image: $grad-secondary !important;
}

.fl-bg-secondaryLight {
    background-image: $grad-secondaryLight !important;
}

/******* media queries fixtures *******/

@include media-breakpoint-up(md) {
    .fl-panel .container .card .card-body .fl-card-price {
        font-size: 3rem;
    }
}

@include media-breakpoint-down(md) {
    .fl-panel {
        .container {
            .card {
                .fl-card-price {
                    font-size: 3rem;
                }
                &.expanded {
                    flex-direction: column;
                    height: auto;
                    .card-body {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .card-expanded {

                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
